*{
	margin: 0;
	padding:0;
	border:none;
}

.container{
	height:100vh;
	background-color:navy;
}


header{
	display:flex;
	justify-content: center;
	align-items:center;
	height:10vh;
	text-align:center;
}

button{
	background-color:pink;
	height:50%;
	width:20vh;
}

button:hover{
	background-color:white;
	box-shadow:outset 5px 5px 5px 5px gold;
}