*{
	margin: 0;
	padding:0;
	border:none;
}

.container{
	height:100vh;
	background-color:#31708E;
		display:flex;
	justify-content: center;
	align-items:center;
}


header{
	display:flex;
	justify-content: center;
	align-items:center;
	height:10vh;
	text-align:center;
	background-color:#F7F9FB;
}

button{
	background-color:#5085A5;
	height:50%;
	width:30vh;
	font-size:1.5rem;
	font-family:arial;
	color:#F7F9FB;
	border-radius:3px;
}

button:hover{
	background-color:#8FC1E3;
	/**box-shadow:offset 5px 5px 5px 5px gold;**/
	

}